input{
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button{
  width: 20rem;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

button:disabled{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(173, 255, 47, 0.25);
  border-radius: 1em;
  box-shadow: #000000 0.5em 0.5em 0.5em;
  padding: 2em;
  color: white;
}

.error{
  color: red;
  font-size: 1.5em;
}
